body {
    background-color: #ccc;
}

.button-div, #reset-button {
  text-align: center;
}

button {
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

h1, h2 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

#game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

#game div {
  border: 1px solid black;
  height: 180px;
  margin: 10px;
  display: inline-block;
  background-size: contain;
  background-image: url('https://i.pinimg.com/originals/10/80/a4/1080a4bd1a33cec92019fab5efb3995d.png');
}